
<%- include('./partials/header') %>

<div class="container__produit">

<article class="card__cafe--produit">
    <div class="card__info--produit">
        <div class="container__img__cafe--produit">
        <img class="img__cafe" src="/visuals/<%= coffee.reference %>.png" alt="photo café"> 
        </div>
        <h4 class="title__info--cafe"><%= coffee.name %></h4>
        <p class="card__description"><%= coffee.description %>
        </p>
        <p class="card__description" >Origine : <%= coffee.origin %></p> 
        <p class="card__description" >Prix au kilo : <%= coffee.price %>€</p> 
        <p class="card__description" >Caractéristique principale :<%= coffee.taste %></p>
        <a class="button__info--produit"  href="/">Ajoutez au panier</a>
    </div>
</article>

</div>

<%- include('./partials/footer') %>